**/*.priv
**/*.enc
**/*._conf

config/*
!config/internal/version.json

# i do not know why this is required but :3

commands/*
!commands/examples
log.txt

plugins/*
!plugins/builtin
!plugins/internal
!plugins/twurple
plugins/builtin/twitch_data.js
plugins/internal/_dashboard

images/

node_modules

obs-prot.json
!build/**/*
build/**/node_modules/*

# build and backups
*.bak
*.tar.gz

# log files
*.log

# nix
result
result-*
.direnv
.envrc
